.header {
    height: 34vw;
    margin: 30px auto;
    background: url('/images/mila-background.webp') no-repeat center center;
    background-size: cover;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}

.header-contents h2 {
    font-weight: 500;
    color: #88A650;
    font-size: max(4.5vw, 22px);
}

.header-contents p {
    color: #6A823E;
    font-size: 1vw;
}

.header-contents button {
    border: none;
    color: #030604;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: #E2F1E5;
    font-size: max(1vw,13px);
    border-radius: 50px;
}

@media (max-width: 1024px) {
    .header-contents {
        max-width: 45%;
    }
}

@media (max-width: 768px) {
    .header-contents {
        max-width: 65%;
    }

    .header-contents p {
        display: none;
    }

    .header-contents button {
        padding: 2vw 4vw;
    }
}